[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"

[packages]
django = "*"
pillow = "*"
django-extensions = "*"
django-debug-toolbar = "*"
django-environ = "*"
gunicorn = "*"
boto3 = "*"
django-storages = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
