{% extends 'base.html' %}


{% block content %}

<section class="flex justify-center">
  <form method="POST" class="form-signin">
    {% csrf_token %}
    <h1 class="mb-3 text-center text-gray-500 text-lg">Reset password</h1>
      <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">
    <button class="btn btn-lg btn-primary btn-block ml-2 px-3 py-2 text-gray-100 bg-purple-400 color-solid" type="submit">Send reset email</button>  
  </form>
</section>



{% endblock %}