{% extends 'base.html' %}


{% block content %}

   <div class="box flex flex-col justify-center items-center max-w-sm px-12 py-16">
        <span class="profile"><i class="fas fa-expand text-3xl"></i></span>
        <span class="text-sm py-3">Highlight</span>
        <form action="" method="POST" class="flex flex-col">
            {% csrf_token %}
            {{form.username}}
            {{form.email}}
            {{form.password1}}
            {{form.password2}}
            <button name="Register" class="btn color">Register</button>
        </form>
        {% for message in messages %}
            <p {% if message.tags %} class="{{message.tag}}" {% end if %}>{{message}}</p>
        {% endfor %}
        <span class="mt-5 text-xs text-center">Already have an account?<br/> Click <a class="text-red-600" href="{% url 'accounts:login' %}">here</a> to login</span>
    </div>

{% endblock content %}
