{% extends 'base.html' %}

{% block page_title %}
    Homepage
{% endblock page_title %}
    {% block content %}

<section class="timefeed">
{% comment %} testing context {% endcomment %}
    <p>user id is: {{request.user.pk}}</p>
    <p>User authentication: {{request.user.is_authenticated}}</p>
    {% if not posts %}
        <p class="nopost">
            Welcome to Highlight!
            <br/> Post your very first photo or search <i class="fas fa-search"></i> users you might be interested.
        </p>
    {% endif %}

    {% for post in posts  %}
        <div class="post mt-12 rounded-md p-4">
            {% include 'mixins/post.html' with post=post %}
        </div>
    {% endfor %}
</section>

{% endblock content %}
